<div class="wrapper">
  <div class="teacher-data">
    <div> <div class="description">First name:</div> {{ getTeacherFirstName }}</div>
    <div> <div class="description">Last name:</div> {{ getTeacherLastName }}</div>
    <div> <div class="description">Email:</div> {{ getTeacherEmail }}</div>
  </div>
</div>
