.wrapper {
    padding-bottom: 5px;
    padding-left  : 5px;
    border-left   : solid 3px white;

    .teacher-data {
        width: 60%;

        .description {
          color: #808080;
        }
    }

    .btn {
        width: 12%;
        float: right;
        transform: translate(3px, -24px);
    }
}
