<div class="workshop-container">
    <dl>
        <div class="workshop-container__unit">
            <dt>Title</dt>
            <dd class="workshop-container__unit--title">{{ getWorkshopTitle }}</dd>
        </div>
        <div class="workshop-container__unit">
            <dt>Description</dt>
            <dd>{{ getWorkshopDescription }}</dd>
        </div>
    </dl>
</div>