.workshop-container {
  &__unit {
    padding-top: 5px;
    padding-bottom: 5px;

    &--title {
      border-bottom: solid 1px gray;
      padding-bottom: 5px;
    }
  }
}

.data {
  padding-bottom: 5px;
  padding-left: 5px;
}

.data .description {
  overflow: auto;
}

.data .title {
  font-style: oblique;
}
