<div>
    <div>
        <div>WHEN:</div>
        <div>Date: {{ getDate }}</div>
        <div>WHERE:</div>
        <div>Location: {{ getLocation }}</div>
    </div>
    <hr>
    <div>
        WORKSHOP:
        <div>{{ getWorkshopTitle }}</div>
        <div>Description:</div>
        <div>{{ getWorkshopDescription }}</div>
    </div>
    <hr>
    <div>
        SUBSCRIBER:
        <div>Name: {{ getSubscriberFirstName }}</div>
        <div>Surname: {{ getSubscriberLastName }}</div>
        <div>Email: {{ getSubscriberEmail }}</div>
        <div>Phone: {{ getSubscriberPhone }}</div>
        <div>Instytution name: {{ getSubscriberInstitutionName }}</div>
        <div>Institurion Address: {{ getSubscriberInstitutionAddress }}</div>
        <div>Children age: {{ getSubscriberChildernAge }}</div>
        <div>Other data: {{ getSubscriberAdditionalData }}</div>
    </div>
    <hr>
    <div>
        WHO DO IT:
        <div>Name: {{ getTeacherFirstName }}</div>
        <div>Surname: {{ getTeacherLastName }}</div>
        <div>Email: {{ getTeacherEmail }}</div>
    </div>
</div>
