<div class="header-bar">
  <div type="button" class="header-bar__new-teacher-btn" (click)="newteacher.openNewTeacherModal()">Add new
    teacher</div>
</div>
<app-new-teacher #newteacher (teacherDetailsToSave)="addTeacher($event)"></app-new-teacher>
<table class="table teachers-table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let teacher of teachers" (click)="selectTeacher(teacher)">
      <th scope="row">{{teacher.id}}</th>
      <td>{{teacher.firstName}}</td>
      <td>{{teacher.lastName}}</td>
      <td>{{teacher.email}}</td>
      <td>
        <div class="teachers-table__details-update-icon-wrapper" (click)="details.openTeacherUpdateModal()"><i
            class="fas fa-pencil-alt"></i></div>
      </td>
      <td>
        <div type="button" class="btn btn-danger" (click)="deleteTeacher(teacher)"><i class="far fa-trash-alt"></i>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<app-teacher-details #details [teacher]="selectedTeacher" (teacherToUpdate)="updateTeacher($event)">
</app-teacher-details>
<p-confirmDialog header="Delete Teacher Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
