.header-bar {
  height: 46px;
  margin-bottom: 10px;
  display: flex;
  align-content: center;
  justify-content: flex-start;

  &__new-teacher-btn {
    margin-top: 10px;
    height: 32px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;

    :hover {
      background-color: red;
    }
  }
}

.teachers-table {
  &__details-update-icon-wrapper {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    :hover {
      width: 34px;
      height: 34px;
      background-color: gray;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.teachers {
  margin-top: 10px;
}