<p>
   Hello calendar
</p>

<p>Display event : {{displayEvent | json}}</p>
<!-- <div *ngif="calendaroptions">
    <ng-fullcalendar #uccalendar [options]="calendaroptions" (eventclick)="eventclick($event.detail)" (eventdrop)="updateevent($event.detail)"
        (eventresize)="updateevent($event.detail)" (clickbutton)="clickbutton($event.detail)"></ng-fullcalendar>
</div> -->

<div *ngFor="let item of items" (click)="selectItem(item)">
    <div class="wrapper" [class.selected]="item === selectedItem">
        <app-item [item]="item"></app-item>
        <div class="btn-contener">
            <div class="btn" (click)="deleteItem(item)">delete</div>
        </div>
    </div>
    <div>
        <app-item-details *ngIf="item === selectedItem" [item]="selectedItem" (itemToUpdate)="updateItem($event)"></app-item-details>
    </div>
</div>
