.wrapper {
    /* display: flex; */
    padding       : 7px;
    margin-left   : 5px;
    margin-bottom : 5px;
    width         : 50%;
    padding-bottom: 10px;
    border        : solid grey 1px;
    border-radius : 5px;
}

.selected {
    /* display: flex; */
    padding       : 7px;
    margin-left   : 5px;
    margin-bottom : 5px;
    width         : 50%;
    padding-bottom: 10px;
    border        : solid grey 2px;
    border-radius : 5px;
}


.wrapper .btn-contener {
    /* width: 30%; */
    display: flex;
}

.btn {
    border       : solid 1px gray;
    border-radius: 5px;
    padding      : initial;
    padding      : 10px;
    margin-right : 4px;
}
