<modal #addNewTeacherModal>
  <modal-header class="header">Add new teacher form</modal-header>
  <modal-content>
    <form action="" class="teacher-details-form">
      <label class="form-label">first name</label>
      <input type="text" #firstname placeholder="add teacher name" />
      <label class="form-label">last name</label>
      <input type="text" #lastname placeholder="add teacher last name" />
      <label class="form-label">email</label>
      <input type="text" #email placeholder="add teacher email" />
      <div class="btn btn-success btn-save" (click)="sendTeacherDetails(firstname.value, lastname.value, email.value)">
        Save</div>
    </form>
  </modal-content>
</modal>
