
.header {
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;

}

.teacher-details-form {
  padding: 2rem;

  .form-label {
    display: block;
    text-transform: uppercase;
    padding: 1rem 0 .25rem;
  }

  input {
    width: 100%;
    display: block;
    padding: 0.5rem;
    border: 1px solid #6993ef;
    border-radius: 5px;
  }

  .btn {
    width: 100%;
    margin-top: 15px;
    border: solid 1px gray;
    border-radius: 5px;
    padding: 10px;
  }
}

.btn-save {
    margin-top: 10px;
}
