<modal #addToCalendarModal>
  <modal-header class="header">Add workshop to calendar</modal-header>
  <modal-content>
    <app-workshop [workshop]="workshop"></app-workshop>
    <form class="workshop-add-to-calendar-form">
      <label class="form-label">Teacher</label>
      <select #teacher placeholder="workshop teacher" name="workshop-teacher">
        <option *ngFor="let teacher of teachers" [value]="toStr(teacher)">{{teacher.firstName + ' ' + teacher.lastName}}
        </option>
      </select>
      <label class="form-label">date</label>
      <input #date type="date" placeholder="add date" />
      <label class="form-label">location</label>
      <input #location placeholder="add location" />
      <label class="form-label">first name</label>
      <input #firstName placeholder="add name" />
      <label class="form-label">last name</label>
      <input #lastName placeholder="add last name" />
      <label class="form-label">email</label>
      <input #email placeholder="add email" />
      <label class="form-label">phone</label>
      <input #phone placeholder="add phone" />
      <label class="form-label">institution name</label>
      <input #institutionName placeholder="add institution name" />
      <label class="form-label">institution address</label>
      <input #institutionAddress placeholder="add institution address" />
      <label class="form-label">children age</label>
      <input #childrenAge placeholder="add children age" />
      <label class="form-label">additional data</label>
      <textarea #additionalData placeholder="Additional data"></textarea>
      <div class="btn btn-success"
        (click)="sendItemDetails(teacher.value, date.value, location.value, firstName.value, lastName.value, email.value, phone.value, institutionName.value, institutionAddress.value, childrenAge.value, additionalData.value)">
        Add</div>
    </form>
  </modal-content>
</modal>
