.frame {
    margin: 20px;
}

.menu {
     display: flex;
     flex-direction: row;
     color: blue;
 } 
 .menu-item {
     padding-right: 20px;
 }

 .selected {
     font-weight: bolder;
     color: orange;
 }
