<div class="frame">
<p-tabView>
  <p-tabPanel header="Teachers">
      <p><app-teachers></app-teachers></p>
  </p-tabPanel>
  <p-tabPanel header="Workshops">
      <p><app-workshops></app-workshops></p>
  </p-tabPanel>
  <p-tabPanel header="Calendar">
      <app-items></app-items>
  </p-tabPanel>
</p-tabView>
</div>