<div class="header-bar">
  <div type="button" class="header-bar__new-workshop-btn" (click)="newworkshop.openNewWorkshopModal()">Add new workshop
  </div>
  <div class="form">
    <span class=""></span>
    <input #searchBox [(ngModel)]="term" (input)="searchWorkshops(searchBox.value)" placeholder="search for workshop">
    <!-- <button class="btn-search" (click)="searchWorkshops(searchBox.value)"><i class="fas fa-search"></i></button> -->
    <button class="btn-clear" (click)="clearSearch()"><i class="fas fa-sitemap"></i></button>
  </div>
</div>
<app-new-workshop #newworkshop (workshopDetailsToSave)="addWorkshop($event)"></app-new-workshop>
<div class="workshops-container">
  <div class="workshops-container__workshop" *ngFor="let workshop of workshops$ | async">
    <app-workshop [workshop]="workshop"></app-workshop>
    <div class="workshops-container__footer">
      <div class="workshops-container__footer--update" (click)="details.openWorkshopUpdateModal()"><i
          class="fas fa-pencil-alt"></i></div>
      <div type="button" class="btn workshops-container__footer--add-to-calendar" (click)="calendar.addToCalendar()">Add
        to calendar</div>
      <div type="button" class="btn btn-danger workshops-container__footer--delete" (click)="deleteWorkshop(workshop)">
        <i class="far fa-trash-alt"></i>
      </div>
    </div>
    <app-workshop-add-to-calendar #calendar [workshop]="workshop" (itemDetailsToSave)="addItemToCalendar($event)">
    </app-workshop-add-to-calendar>
    <app-workshop-details #details [workshop]="workshop" (workshopToUpdate)="updateWorkshop($event)">
    </app-workshop-details>
  </div>
</div>
<p-confirmDialog header="Delete workshop Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
