.header-bar {
  margin-bottom: 20px;
  display: flex;
  align-content: center;
  justify-content: flex-start;

  &__new-workshop-btn {
    margin-top: 10px;
    display: flex;
    height: 32px;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;

    :hover {
      background-color: red;
    }
  }

  .form {
    input {
      padding: 3px;
      font-size: 16px;
      border: 1px solid grey;
      float: left;
      width: 80%;
      background: #f1f1f1;
      transform: translateY(10px);
    }

    .btn-search  {
      float: left;
      // width: 14%;
      padding: 4px;
      color: white;
      font-size: 15px;
      border: 1px solid grey;
      border-left: none;
      /* Prevent double borders */
      cursor: pointer;
      transform: translateY(10px);

      :hover {}
    }

    ::after {
      content: "";
      clear: both;
      display: table;
    }
    
    .btn-clear {
      float: left;
      // width: 14%;
      padding: 4px;
      color: white;
      font-size: 15px;
      border: 1px solid grey;
      border-left: none;
      /* Prevent double borders */
      cursor: pointer;
      transform: translateY(10px);

      :hover {}
    }

    ::after {
      content: "";
      clear: both;
      display: table;
    }
  }
}

.workshops-container {
  &__workshop {
    margin-bottom: 10px;
    padding: 7px;
    width: 80%;
    padding-bottom: 10px;
    border: solid grey 1px;
    border-radius: 5px;
  }

  &__footer {
    display: flex;
    align-content: center;
    justify-content: flex-end;

    &--update {
      width: 34px;
      height: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      :hover {
        width: 34px;
        height: 34px;
        background-color: gray;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    // &--add-to-calendar {
    //   margin-left: 10px;
    // }

    &--delete {
      margin-left: 10px;
    }

    .btn {
      margin-left: 10px;
      display: flex;
      height: 32px;
      align-items: center;
      border: 1px solid black;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
      margin-right: 10px;

      :hover {
        background-color: red;
      }
    }
  }
}
