<modal #updateWorkshopModal>
  <modal-header class="header">Update workshop form</modal-header>
  <modal-content>
    <form class="workshop-update-form">
      <label class="form-label">Workshop title</label>
      <input [(ngModel)]="workshop.title" placeholder="workshop title" name="title"/>
      <label class="form-label">Workshop description</label>
      <textarea [(ngModel)]="workshop.description" placeholder="workshop description" name="description"></textarea>
      <div class="btn btn-success" (click)="sendWorkshopToUpdate(workshop)">Save</div>
    </form>
  </modal-content>
</modal>
