<div class="item-details-wrapper">
    <div class="form-wrapper">
        <form>
            <div class="form-group">
                <div class="form-label">Title:</div>
                <input [(ngModel)]="item.workshop.title" placeholder="workshop title" name="title" />
            </div>
            <div class="form-group">
                <div class="form-label">Description:</div>
                <textarea [(ngModel)]="item.workshop.description" placeholder="workshop description" name="description"></textarea>
            </div>
            <hr>
            <div class="form-group">
                <div class="form-label">Teacher:</div>
                <select class="form-control" [(ngModel)]="item.teacher" placeholder="workshop teacher" name="workshop-teacher">
                    <option *ngFor="let teacher of teachers" [value]="teacher">{{teacher.firstName + " " + teacher.lastName}}</option>
                </select>
            </div>
            <hr>
            <div class="form-group">
                <div class="form-label">date:</div>
                <input type="date" [(ngModel)]="item.date" placeholder="date" name="date" />
            </div>
            <div class="form-group">
                <div class="form-label">Location:</div>
                <input [(ngModel)]="item.location" placeholder="location" name="location" />
            </div>
            <hr>
            <div class="form-group">
                <div class="form-label">First name:</div>
                <input [(ngModel)]="item.subscriber.firstName" placeholder="add name" name="first-name" />
            </div>
            <div class="form-group">
                <div class="form-label">Last name:</div>
                <input [(ngModel)]="item.subscriber.lastName" placeholder="add last name" name="last-name" />
            </div>
            <div class="form-group">
                <div class="form-label">email:</div>
                <input [(ngModel)]="item.subscriber.email" placeholder="add email" name="email" />
            </div>
            <div class="form-group">
                <div class="form-label">phone:</div>
                <input [(ngModel)]="item.subscriber.phone" placeholder="add phone" name="phone" />
            </div>
            <div class="form-group">
                <div class="form-label">Institution name:</div>
                <input [(ngModel)]="item.subscriber.institutionName" placeholder="add institution name" name="institution-name" />
            </div>
            <div class="form-group">
                <div class="form-label">Institution address:</div>
                <input [(ngModel)]="item.subscriber.institutionAddress" placeholder="add institution address" name="institution-address" />
            </div>
            <div class="form-group">
                <div class="form-label">Children age:</div>
                <input [(ngModel)]="item.subscriber.childerenAge" placeholder="add children age" name="childern-age" />
            </div>
            <div class="form-group">
                <div class="form-group">
                    <div class="form-label">Additional data:</div>
                    <textarea [(ngModel)]="item.subscriber.additionalData" placeholder="Additional data" name="additional-data"></textarea>
                </div>
            </div>
            <div class="btn" (click)="sendItemToUpdate(item)">Save</div>
        </form>
    </div>
</div>
