
.item-details-wrapper {
    display       : flex;
    padding       : 7px;
    margin-left   : 5px;
    margin-bottom : 5px;
    margin-top    : 5px;
    width         : 50%;
    padding-bottom: 10px;
    /* border: solid green 1px; */

}
.form-wrapper {
    padding: 30px;
    width  : 50%;
    /* background-color: grey; */
}

.form-wrapper .form-label {
    font-weight: bold;
}

.form-wrapper select input textarea {
    width: 20%;
}

.button-wrapper {
    width: 50%;
}

.button-wrapper button {
    float  : right;
    padding: 15;
}

.btn {
    border       : solid 1px gray;
    border-radius: 5px;
    padding      : initial;
    padding      : 10px;
}
