<modal #addNewWorkshopModal>
  <modal-header class="header">Add new workshop form</modal-header>
  <modal-content>
    <form class="workshop-details-form">
      <label class="form-label">workshop title</label>
      <input #title placeholder="add title" />
      <label class="form-label">workshop description</label>
      <textarea #description placeholder="workshop description" name="description"></textarea>
      <div class="btn btn-success btn-save" (click)="sendWorkshopDetails(title.value, description.value)">Save</div>
    </form>
  </modal-content>
</modal>
