<modal #updateTeacherModal>
  <modal-header class="header">Update teacher form</modal-header>
  <modal-content>
    <div *ngIf="!!teacher" class="teachers-details-wrapper">
      <form class="teacher-details-form">
        <label class="form-label">first name</label>
        <input [(ngModel)]="teacher.firstName" placeholder="teacher first name" name="first" />
        <label class="form-label">last name</label>
        <input [(ngModel)]="teacher.lastName" placeholder="teacher last name" name="last" />
        <label class="form-label">email</label>
        <input [(ngModel)]="teacher.email" placeholder="teacher email" name="email" />
        <div class="btn btn-success" (click)="sendTeacherToUpdate(teacher)">Save</div>
    </form>
    </div>
  </modal-content>
</modal>